html {
    min-height: 100%;
    box-sizing: border-box;
    background-color: #432818;
}

footer {
    font-size: xx-small;
    flex-shrink: 0;
    bottom: 0;
    position: absolute;
}

::placeholder {
    color: #ffe6a7;
    opacity: 0.5;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffe6a7;
    opacity: 0.5;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: #ffe6a7;
    opacity: 0.5;
}

.hidden {
    display: none !important;
}

.PomoToDo {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.todo-container {
    width: 50%;
    left: 0;
    position: absolute;
    margin: 30px;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 1;
    padding: 0;
}

body {
    font-family: 'Maven Pro', sans-serif;
    color: #ffe6a7;
}

/* .todo-container {
    margin: 0 auto;
    overflow-y: auto;
} */

.app-title {
    text-align: left;
    font-size: 70px;
    font-weight: 700;
}

.todo-list {
    list-style: none;
    margin-bottom: 20px;
}

.todo-item {
    display: flex;
    align-items: left;
}

.todo-item span {
    font-size: 20px;
    font-weight: 0;
    color: #ffe6a7;
    display: flex;
    justify-content: space-between;
}

.done span {
    text-decoration: line-through;
    color: #9c6644;
}

input[type="checkbox"] {
    display: none;
}

.tick {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.tick::before {
    color: #9c6644;
    content: '✓';
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.done .tick::before {
    display: inline;
}

.delete-todo {
    background-color: #432818;
    border: #432818;
    font-size: 20px;
    color: #9c6644;
    cursor: pointer;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    height: 30px;
    width: 80%;
    font-size: 15px;
    font-weight: 400;
    color: #ffe6a7;
    background-color: #5a2d0c;
    border: 2px solid #432818;
}

.empty-state {
    color:#9c6644;
    line-height: 5px;
    flex-direction: column;
    align-items: left;
    display: none;
}

.todo-list:empty {
    display: none;
}

.todo-list:empty + .empty-state {
    display: flex;
}